/* RESET */
* {
  margin: 0;
  padding: 0;               /*DA CANCELLARE SE SI USA GRIGLIA BOOTSTRAP O 12BOOL*/
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
body {
  font-family: 'Montserrat', sans-serif;

}

h2,
h3 {
  color: #fff;
}

*::first-letter,
a:first-of-type {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #a3a3a3;
}

ul {
  list-style: none;
}

.ms_sidebar a:hover,
.ms_list_pages a:hover,
footer i:hover {
  color: #fff;
}

.ms_main_wrapper {
  width: 100%;
  height: 100vh;
  min-width: 500px;
}
/* FINE REGOLE GENERALI */

/* REGOLE MAIN */
main {
  width: 100%;
  height: calc(100vh - 100px);  /* footer = 100px */
}

/* Regole sidebar */
.ms_sidebar {
  width: 200px;
  height: 100%;
  background-color: #000;
  float: left;
  overflow: hidden;
  font-weight: bold;
  font-size: .8em;
}
/* Fine regole sidebar */

/* Regole conteiner flex */
.ms_container_flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Fine regole conteiner flex */

/* Regole sidebar top */
.ms_sidebar_top {
  flex-grow: 1;
  flex-shrink: 0;
}
/* Fine regole sidebar top */

/* Regole logo desktop e responsive */
.ms_logo {
  max-width: 80%;
  padding: 10px;
}

.ms_logo.desktop img {
  width: 100%;
}

.ms_logo.responsive img {
  display: none;
  width: 100%;
}
/* Fine regole logo desktop e responsive */

/* Regole navigazione */
.ms_navigation li {
  padding: 10px;
}

.ms_navigation li.ms_active {
  border-left: 3px solid green;
}

.ms_navigation li.ms_active a {
  color: #fff;
}

.ms_navigation img {
  height: 25px;
  width: auto;
  vertical-align: middle;
}
/* Fine regole navigazione */

/* Inizio regole playlist */
.ms_playlist_desktop {
  /* display: none; */
  padding: 0 10px;
}

.ms_playlist_desktop h3 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 0;
}

.fa-plus-square {
  font-size: 35px;
  padding-right: 10px;
  vertical-align: middle;
}

.ms_playlist {
  overflow-y: auto;
  height: calc(100vh - 500px);
}

.ms_playlist li {
  padding: 10px 0;
}
/* Fine regole playlist */

/* Inizio regole sidebar bottom */
.ms_sidebar_bottom {
  flex-shrink: 0;
  padding: 0 10px;
}
/* Fine regole sidebar bottom */

/* Inizio regole scarica app e account */
.ms_app {
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 10px;
  font-size: .9em;
  font-weight: normal;
}

.ms_account {
  padding: 10px 0;
}

.ms_account a {
  color: #fff;
}

.ms_account img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  background-color: gray;
  border-radius: 50%;
}

.ms_app img {
  height: 15px;
  width: auto;
  vertical-align: middle;
}

.ms_app span,
.ms_account span {
  padding-left: 10px;
}
/* Fine regole scarica app e account */

/********* MEDIAQUERYS SIDEBAR ***********/
@media screen and (max-width: 552px) {
  .ms_sidebar {
    width: 60px;
    padding-left: 8px;
  }

  .ms_logo {
    padding-top: 0;
  }

  .ms_logo.desktop img {
    display: none;
  }

  .ms_logo.responsive img {
    display: block;
  }

  .ms_navigation li.ms_active {
    border: none;
  }

  .ms_text_desktop {
    display: none;
  }

  .ms_playlist_desktop {
    display: none;
  }

  .ms_app span,
  .ms_account span {
    display: none;
  }

  .ms_app {
    border: none;
  }

  .ms_app img {
    height: 18px;
  }

  .ms_account img {
    height: 20px;
    width: 20px;
  }
}
/********* FINE MEDIAQUERYS SIDEBAR ***********/

/* Regole content */
.ms_content {
  width: calc(100% - 200px);   /* sidebar = 200px */
  height: 100%;
  background-color: #141922;
  float: left;
  overflow-y: auto;
}
/* Fine regole content */

/* Regole upgrade */
.ms_upgrade {
  width: calc(100% - 200px);   /* sidebar = 200px */
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.ms_upgrade a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 25px;
  text-align: center;
  padding: 10px 20px;
}

.ms_upgrade a:hover {
  transform: scale(1.1);
}
/* Fine regole upgrade */

/* Regole pages */
.ms_pages {
  padding: 120px 20px 0 20px;
  text-align: center;
}

.ms_list_pages li {
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 20px;
}

.ms_list_pages a.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  border-bottom: 3px solid green;
}

.ms_list_pages li:last-child {
  padding-right: 0;
}

.ms_list_pages li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
/* Fine regole pages */

/* Regole recently collection */

.ms_title {
  padding-bottom: 20px;
}

.ms_title h2 {
  padding-bottom: 5px;
}

.ms_collection ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.ms_collection ul li {
  flex-basis: calc(100% / 6);
  padding: 0 10px;
}

.ms_collection_image img {
  width: 100%;
}

.ms_collection_image .filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.ms_collection_image {
  position: relative;
}

.ms_collection_image .filter i {
  color: #fff;
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ms_collection_image:hover .filter{
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}
/* Fine regole recently collection */

/* Regole creato per John Doe */

/* Fine regole creato per John Doe */

/* Regole artisti popolari */

.ms_popolar_collection .ms_collection_image img {
  border-radius: 50%;
}
/* Fine regole artisti popolari */

/********* MEDIAQUERYS CONTENT ***********/
@media screen and (min-width: 1439px) {

}

@media screen and (max-width: 878px) {
  .ms_collection ul li {
    flex-basis: calc(100% / 4);
  }
}

@media screen and (max-width: 639px) {
  .ms_list_pages li {
    padding-right: 20px;
  }

  .ms_collection ul li {
    flex-basis: 50%
  }

  .ms_collection_image img {
    width: 155px;
  }
}

@media screen and (max-width: 552px) {
  .ms_content {
    width: calc(100% - 60px);   /* sidebar = 60px */
  }

  .ms_upgrade {
    width: calc(100% - 60px);   /* sidebar = 60px */
  }

  .ms_collection_image img {
    width: 200px;
  }
}
/********* FINE MEDIAQUERYS CONTENT ***********/

/* FINE REGOLE MAIN */

/* REGOLE FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: #282828;
}
/* FINE REGOLE FOOTER */
